.wrapper {
    padding-top: 80px;
}

.inner {
    padding-bottom: 140px;
}

.roadtext {
    .main {
        font-size: 1.4rem;
        opacity: 0.5;
    }

    .sub {
        text-transform: capitalize;
        font-size: 1.4rem;
    }
}

.section {
    display: flex;
    flex-direction: column;
    gap: 140px;
}

.section-slide {
    display: flex;
    margin-top: 42px;

    .text {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .title {
        font-size: 54px;
        line-height: 0.98;
        letter-spacing: 6%;
    }

    .des {
        display: flex;
        flex-direction: column;
        gap: 24px;

        p {
            font-size: 16px;
        }
    }
}

.card {
    display: flex;
    gap: 30px;
}

.my-slider {
    img {
        margin-bottom: 32px;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .info-main {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .name {
                font-size: 32px;
                font-weight: 500;
                line-height: 77%;
                letter-spacing: 4%;
            }
        }
    }

    .social {
        display: flex;
        gap: 16px;
    }
}