.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 48px;
    gap: 10px;
    
    border-radius: 4px;
    cursor: pointer;
    
    p {
        color: var(--text4);
    }
}

.color-secondary {
    background-color: var(--secondary2);
}

.color-white {
    background-color: var(--primary);
    border: 1px solid rgba(0, 0, 0, 0.4);

    p {
        color: var(--text2) !important;
    }
}

.padding-style1 {
    padding: 10px 48px !important;
}

