.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 48px;
    gap: 10px;
    
    background-color: var(--secondary2);    
    border-radius: 4px;

    p {
        
        color: var(--text4);
    }
}


