.inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    cursor: pointer;
}

.image-container {
    background: #a7887908;
    border-radius: 4px;
    padding: 35px 40px;
    img {
        width: 190px;
        height: 180px;
        object-fit: contain;
        mix-blend-mode: color-burn;
    }
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .title {
        font-weight: 500;
    }
    
    .des {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .price {
            font-weight: 500;
            color: var(--secondary2);
        }
        .star {
            display: flex;
            gap: 8px;
            
            .amount {
                font-size: 1.4rem;
                font-weight: 600;
                opacity: 0.5;
            }
        }
        
    }
}