.search-result {
    position: absolute;
    width: 400px;
    top: 45px;
    left: 0;
    border-radius: 4px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.suggest_search {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-height: 279px;
    overflow-y: scroll;
    
    .suggest-item {
        display: flex;
        padding: 10px;
        border-bottom: 1px solid #eee;
        cursor: pointer;
    }

    .item-img {
        margin: 0 6px 0 0;

        img {
            width: 60px;
            height: 60px;
            object-fit: contain;
        }
    }

    .item-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .price {
        font-weight: 500;
        color: var(--secondary2);
    }
}