form {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.form-title {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .title {
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 30px;
        letter-spacing: 0.04em;
        white-space: nowrap;
    }

    .des {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}
.form-body {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .form-input {
            display: flex;
            flex-direction: column;
            gap: 40px;
    
            font-weight: 400;
            opacity: 0.4;
    
            input {
                padding-bottom: 8px;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
            }
        }
    
    .form-button {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}
