.wrapper {
    padding-top: 80px;
}

.inner {
    padding-bottom: 140px;
}

.roadtext {
    .main {
        font-size: 1.4rem;
        opacity: 0.5;
    }

    .sub {
        text-transform: capitalize;
        font-size: 1.4rem;
    }
}

.section-center{
    display: grid;
    gap: 3rem 5rem;
    margin: 4rem auto;
}

@media (min-width: 768px) {
    .section-center {
        grid-template-columns: 200px 1fr;
    }
  }