.inner {
    display: flex;
    padding-top: 40px;
}

.category {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-right: 16px;
    min-width: 200px;

    button {
        text-align: start;
    }

    &-item {
        text-transform: capitalize;
        font-weight: 400;
    }

    &:after {
        position: absolute;
        top: -40px;
        right: 0px;
        width: 0.5px;
        height: 440px;
        opacity: 0.3;
        background-color: var(--text2);

        content: "";
    }
}

.slide {
    padding-left: 45px;
    width: 892px;
    height: 400px;

    .banner {
        width: 892px;
        height: 400px;
        object-fit: cover;
    }
}

