.wrapper {
    padding-top: 80px;
}

.inner {
    padding-bottom: 140px;
}

.roadtext {
    .main {
        font-size: 1.4rem;
        opacity: 0.5;
    }

    .sub {
        text-transform: capitalize;
        font-size: 1.4rem;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin-top: 140px;

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        .title {
            font-size: 110px;
            line-height: 86%;
            letter-spacing: 3%;
        }
    }
}